FacturacionElectronica/TesterFe/Service References/ServicioFe/Servicio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19204/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FacturacionElectronica" />
  <xs:element name="Firmar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreCertificado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveCertificado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirmarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FacturacionElectronica" minOccurs="0" name="FirmarResult" nillable="true" type="q1:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFirmado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FacturacionElectronica" minOccurs="0" name="EnviarSriResult" nillable="true" type="q2:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizarSri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claveAcceso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizarSriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FacturacionElectronica" minOccurs="0" name="AutorizarSriResult" nillable="true" type="q3:RespuestaAutorizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>