FacturacionElectronica/TesterFe/Service References/ServicioFe/Servicio31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FacturacionElectronica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FacturacionElectronica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FueOk" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
  <xs:complexType name="RespuestaAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dato" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="FueOk" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaAutorizacion" nillable="true" type="tns:RespuestaAutorizacion" />
</xs:schema>