FacturacionElectronica/TesterFe/Service References/ServicioFe/Servicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19204/Servicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19204/Servicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19204/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FacturacionElectronica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_Firmar_InputMessage">
    <wsdl:part name="parameters" element="tns:Firmar" />
  </wsdl:message>
  <wsdl:message name="IServicio_Firmar_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirmarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_EnviarSri_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSri" />
  </wsdl:message>
  <wsdl:message name="IServicio_EnviarSri_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSriResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AutorizarSri_InputMessage">
    <wsdl:part name="parameters" element="tns:AutorizarSri" />
  </wsdl:message>
  <wsdl:message name="IServicio_AutorizarSri_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutorizarSriResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="Firmar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/Firmar" message="tns:IServicio_Firmar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/FirmarResponse" message="tns:IServicio_Firmar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarSri">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/EnviarSri" message="tns:IServicio_EnviarSri_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/EnviarSriResponse" message="tns:IServicio_EnviarSri_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutorizarSri">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AutorizarSri" message="tns:IServicio_AutorizarSri_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AutorizarSriResponse" message="tns:IServicio_AutorizarSri_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicio" type="tns:IServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Firmar">
      <soap:operation soapAction="http://tempuri.org/IServicio/Firmar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarSri">
      <soap:operation soapAction="http://tempuri.org/IServicio/EnviarSri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizarSri">
      <soap:operation soapAction="http://tempuri.org/IServicio/AutorizarSri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="BasicHttpBinding_IServicio" binding="tns:BasicHttpBinding_IServicio">
      <soap:address location="http://localhost:19204/Servicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>